/**index.wxss**/
/*
page{
  height: 100%;
}
*/
/*导航*/
.swiper-box {
    width: 100%;
    min-height: 213px;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 5px 0px;
}
.slide-image {
    display: block;
    width: 100%;
    max-height: 100%;
}

.hot-container {
    margin-top: 10px;
    background: #fff;
}

.hot-card {
    position: relative;
    z-index: 90;
    margin: 25px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 5px 0px;
}

.hot-image{
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 100%;
}

.hot-invalid {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.hot-title-invalid {
    font-size: 14px;
    color: gray;
    background: #fff;
    text-decoration: line-through;
}

.text-and-price {
  display: flex;
  flex: 1;
  padding: 20rpx;
  border-bottom: 1px solid #eee;
}

.hot-text {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.hot-title {
  font-size: 14px;
  color: grey;
}

.hot-statement {
  margin-top: 10rpx;
  font-size: 10px;
  color: #e75656;
}

.hot-price {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue",Arial,"PingFang SC","Microsoft YaHei",sans-serif;
}

.curr-price {
  flex: 1;
  display: flex;
  color: #d42f2f;
  font-size: 16px;
  text-align: right;
}

.prev-price {
  flex: 1;
  display: flex;
  color: #b8b8b8;
  font-size: 12px;
  text-align: right;
  text-decoration: line-through;
}

.like-comment-box {
    flex: 1;
    padding: 8rpx 8rpx 8rpx 20rpx;
    display: flex;
    align-items: center;
}

.like {
    margin: 0 10rpx 0 10rpx;
    width: 48rpx;
    height: 48rpx;
}

.comment {
    margin: 0 10rpx 0 10rpx;
    width: 60rpx;
    height: 60rpx;
}

.like-count {
    margin: 0 10rpx 0 10rpx;
    font-size: 16px;
    color: grey;
}

.liked-count {
    margin: 0 10rpx 0 10rpx;
    font-size: 16px;
    color: #d42f2f;
}

.comment-count {
    margin: 0 10rpx 0 10rpx;
    font-size: 16px;
    color: grey;
}

.postTime {
    flex: 1;
    width: 100%;
    font-size: 10px;
    color: grey;
    text-align: left;
}

.more-btn {
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  height: 40px;
  margin: 25px;
  background-color: #eee;
  border-bottom: 5px solid #eee;
  justify-content: center;
  align-items: center;
  text-align: center;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 5px 0px;
}

.more-text {
    flex: 1;
    font-size: 14px;
    color: #515151;
}

.no-more-btn {
  font-size: 14px;
  color: grey;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}


.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #fc3c3c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc3c3c), to(#e23131));
  background-image: -webkit-linear-gradient(top, #fc3c3c, #e23131);
  background-image:    -moz-linear-gradient(top, #fc3c3c, #e23131);
  background-image:     -ms-linear-gradient(top, #fc3c3c, #e23131);
  background-image:      -o-linear-gradient(top, #fc3c3c, #e23131);
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #e23131;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}
